html, body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0; 

}

:default {
    font-size: 18px; 
    color: #2D3748; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
    Arial,"Noto Sans", sans-serif;  
}

.container {
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 300px 1180px 53px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogtitle {
    font-size: 32px;
    color: #48BB78;
}

.blogdateauthor {
    color: #718096;
}

.links {
    list-style: none;
    padding: 0;
}

a:link {
    color: #4299E1;
    text-decoration: none;
}

.sidebar {
    color: #48BB78;
}

.abtsection {
    margin-top: 13px;
    background: #E2E8F0;
    padding: 17px;
    border-radius: 12px 12px 12px 12px;
}

.info {
    padding: 3px;
    margin-top: 13px;
    margin-left: 5px;
}

#abt {
    color: #000000;
    margin-top: -3px;
}

#portrait {
    border-radius: 60%;
    max-width: 54%;
    max-height: 54%;
    margin-bottom:-12px;
}

#pic1 {
    border-radius: 10px 10px 10px 10px;
    max-width: 38%;
    max-height: 38%;
    float: left;
    margin: 5px 20px 0px 0px;
}

#pic2 {
    border-radius: 10px 10px 10px 10px;
    max-width: 37%;
    max-height: 37%;
    float: left;
    margin: 5px 20px 10px 0px;
}

h1 + p {
    margin-top:-13px;
    margin-bottom:-5px;
}

h3 + ul {
    margin-top:-8px;
}

h2 + p {
    margin-top:-18px;
}

hr {
    margin: 20px 0;
    margin-top: 65px;
}

h1 {
   font-size: 36px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
  
header {
   color: #FFFFFF;
   background: #63B3ED;
   padding: 20px;
   grid-column: 1/3;
}


article {
    clear: both;
    margin-top: 15px;
    margin-left: 70px;
    margin-right: 70px;
    grid-column: 1;
    padding: 15px;
    margin-bottom: 20px;
}

main {
    margin-top: 30px;
    margin: 2px;
}

  
aside {
    margin-top: 19px;
    margin-left: -20px;
    grid-column: 2;
    padding: 35px;
}

footer {
    background: #2C5282;
    color: #FFFFFF;
    text-align: center;
    grid-column: span 2;
}
  
